
<title><%=title%></title>

<%- include("./template/header.ejs") %>
<% if(datos) { %>

<div class="formulario__agregar">
    <div class="formulario__title bg-info">Datos </div>
    <form method="post" action="<%= datos._id%>">
        <label for="id_product">ID:</label> 
        <input type="number" required readonly name="id_product" id="id_product" placeholder="ID" value="<%= datos.id_product %>">
        <label for="name">Nombre:</label> 
        <input type="text" required name="name"  id="name" placeholder="Nombre del material" value="<%=datos.name %>">
        <label for="price">Precio:</label> 
        <input type="number" required name="price"  id="price" placeholder="Precio del material" value="<%=datos.price %>">
        <label for="number">Cantidad:</label> 
        <input type="number" required name="number"  id="number" placeholder="Cantidad del material" value="<%=datos.number %>">
        <label for="description">Descripcion:</label> 
        <input type="text" required name="description"  id="description" placeholder="Descripcion del material" value="<%=datos.description %>">
        <label for="brand">Marca:</label> 
        <input type="text" required name="brand"  id="brand" placeholder="Marca del material" value="<%=datos.brand %>">
        

        <div class="container__buttons">

            <button type="submit" class="button button--success">Modificar</button>
    
            <button type="submit" name="accion" value="Cancelar" class="button button--info"><a href="/inventory" class="button--a">Cancelar</a></button>
        </div>
    </form>
</div>
<% }else{ %>
    <h1>perras</h1>
<% } %>
<script src="js/bootstrap.min.js"></script>
</body>
</html>